<!DOCTYPE html>


<html lang="en">
{% load static %}

<head>
  <meta charset="UTF-8">
  <title>NYT WTF: Wordle</title>

  <link rel="stylesheet" href="{% static 'haterade/haterade.css' %}"/>
</head>
<body>


<div class="header">
    <div class="unselected"><a href="/spelling-bee/">Spelling Bee</a></div>
    <div class="unselected"><a href="/connections/">Connections</a></div>
    <div class="selected"><a href="/wordle/">Wordle</a></div>
    <div class="unselected"><a href="/sudoku/">Sudoku</a></div>
    <div class="unselected"><a href="/strands/">Strands</a></div>
</div>


<h2>The solution for {{date}} is...</h2>
<div class="wordle-container">
  {% for c in w.word %}
    <div class="wordle-tile">{{ c }}</div>
  {% endfor %}
</div>
</body>
</html>